spring:
  application:
    name: login

  datasource:
    url: jdbc:postgresql://db.xoesdnvfcomicafhncqg.supabase.co:5432/postgres
    username: postgres
    password: LorenaCarlosNeil@
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true